<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid;
}
</style>
</head>
<body>

<h2>192102206-Andy Juliandy:</h2>
<h2>Show to - entires</h2>
<h2>Search : </h2>

<table>
  <tr>
    <th>Nim</th>
    <th>Nama</th>
    <th>Jenis-kelamin</th>
    <th>JP</th>
    <th>Tempat tanggal lahir</th>
    <th>Status</th>
    <th>Tanggal masuk</th>
  </tr>
  <tr>
    <td>0000000003</td>
    <td>Michael Oscar Kase</td>
    <td>Laki-laki</td>
    <td>TI</td>
    <td>Pontianak, 2000-12-31</td>
    <td>Belum kawin</td>
    <td>2019</td>
  </tr>
  <tr>
    <td>011100962</td>
    <td>Andi</td>
    <td>Laki-laki</td>
    <td>SI</td>
    <td>Sambas, 1990-02-03</td>
    <td>Belum kawin</td>
    <td>2010</td>
  </tr>
  <tr>
    <td>01110863</td>
    <td>Budi</td>
    <td>Laki-laki</td>
    <td>SI</td>
    <td>Pemangkat, 1995-07-14</td>
    <td>Belum kawin</td>
    <td>2016</td>
  </tr>
  <tr>
    <td>011100865</td>
    <td>Dewi</td>
    <td>Perempuan</td>
    <td>TI</td>
    <td>Pontianak, 2000-02-16</td>
    <td>Belum kawin</td>
    <td>2013</td>
    
</table>

</body>
</html>


